name: Daily Mint Automation

on:
  schedule:
    - cron: '30 1 * * *'
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Chromium Only
        run: |
          sudo apt update
          sudo apt install -y chromium-browser

      - name: Install Python Dependencies
        run: |
          pip install --upgrade pip
          pip install selenium requests reportlab python-telegram-bot==13.15

      - name: Run Script
        run: python mint_automation.py
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
